.dialogs {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;

}



.dialogsItems .dialog {
    padding: 10px;

}

.messages {


}

.messages .message {
    padding: 10px;
}

.messageSender {
    display: flex;
    gap: 20px;
    align-items: center;
}

